.f-container{
    padding: 40px 50px 30px;
    background-color: #1b1b1b;

    .f-top{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > img{
            height: 30px;
            opacity: 0.3;
        }
        .text-box{
            a{
                color: rgba(255, 255, 255, 0.3);
                font-size: 14px;
                letter-spacing: -1px;
                margin-left: 30px;
            }
        }
    }

    .company{
        margin: 45px 0px 110px;
        & > p{
            color: rgba(255, 255, 255, 0.7);
            font-size: 17px;
            font-weight: 300;
            letter-spacing: -1px;
            margin-bottom: 20px;
        }
    }

    .f-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > p{
            color: rgba(255, 255, 255, 0.3);
            font-size: 14px;
            font-weight: 300;
        }

        .sns-box{
            display: flex;
            gap: 15px;

            li{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), inset 0px 0px 14px rgba(200, 200, 200, 0.03);

                &:last-of-type{
                    margin-right: 90px;
                }
            }
        }
    }
}