.inner {
    width: 1760px;
    height: 100%;
    margin: 0px auto;
    position: relative;
    top: 0px;
    left: 0px;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    border: none;
    z-index: -1;
}

body,
html {
    font-family: 'Poppins', 'Noto Sans KR', sans-serif;
    font-size: 10px;
    line-height: 1;
}

@font-face {
    font-family: 'Binggrae';
    src: url('/font/Binggrae.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Binggrae-bold';
    src: url('/font/Binggrae-Bold.woff') format('woff');
    font-weight: bold;
}